* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), url(Images/1.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(Images/1.jpg);
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar ul li {
  list-style: mome;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li ::after {
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar ul li :hover::after {
  width: 100%;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.logo {
  width: 120px;
  border-radius: 50%;
  cursor: pointer;
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.content .pic {
  max-width: 200px;
  border-radius: 50%;
  border: 2px solid #009688;
  margin-bottom: -50px;
  -webkit-animation-name: profile_pic;
          animation-name: profile_pic;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes profile_pic {
  0% {
    top: 0%;
    left: 0%;
    max-width: 200px;
  }
  25% {
    top: 0%;
    left: -5%;
    max-width: 200px;
  }
  50% {
    top: 0%;
    left: 0%;
    max-width: 200px;
  }
  75% {
    top: 0%;
    left: 5%;
    max-width: 200px;
  }
  100% {
    top: 0%;
    left: 0%;
    max-width: 200px;
  }
}

@keyframes profile_pic {
  0% {
    top: 0%;
    left: 0%;
    max-width: 200px;
  }
  25% {
    top: 0%;
    left: -5%;
    max-width: 200px;
  }
  50% {
    top: 0%;
    left: 0%;
    max-width: 200px;
  }
  75% {
    top: 0%;
    left: 5%;
    max-width: 200px;
  }
  100% {
    top: 0%;
    left: 0%;
    max-width: 200px;
  }
}

.content h1 {
  font-size: 50px;
  margin-top: 80px;
}

.content p {
  margin: 20px auto;
  font-size: 25px;
  font-weight: 100;
  line-height: 25px;
  letter-spacing: 3.5px;
}

.content button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px  10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.content button span {
  background: #009688;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content button :hover {
  border: none;
}

.content button :hover span {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */